:root {
	--font: 'Mukta', Helvetica, 'Trebuchet MS', Arial, sans-serif;
	--background: #800e13;
	--color: #fcfee5;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	height: 100%;
}

body {
	padding: 8px;
	background-color: var(--background);
	background-image: url("./img/noise-overlay.png");
	color: var(--color);
	font-family: var(--font);
	font-weight: 400;
	font-size: 20px;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
