:root {
	--font: 'Mukta', Helvetica, 'Trebuchet MS', Arial, sans-serif;
	--green: #09541f;
	--gold: #f9ce2c;
	--dark-gold: #b79106;
	--white: #fff;
	--gray: #ccc;
	--black: #3b3c35;
	--card-width: 160px;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	height: 100%;
}

body {
	padding: 8px;
	background-color: var(--green);
	background-image: url("./assets/noise-overlay.png");
	color: var(--white);
	font-family: var(--font);
	font-weight: 500;
	font-size: 20px;
	overflow: hidden;
	user-select: none;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

ul {
	list-style: none;
}
